@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pink (Common styles) */
:root {
    --font-family: 'JetBrains Mono', monospace;
    --primary: #fae127;
    --primary-hover: #f8e23e;
    --primary-focus: rgba(216, 213, 27, 0.125);
    --secondary: #2beded;
    --primary-inverse: #FFF;
}

.nav-img {
    height: 1rem;
    display: block;
}

.nav-with-img {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

a:hover {
    text-decoration: underline !important;
}

.accented-text {
    text-decoration: underline !important;
    text-underline-offset: 8px;
    text-underline-position: above;
    text-decoration-color: var(--primary) !important;
    transition: text-decoration-color 0.3s;
}

.accented-text:hover {
    text-decoration-color: var(--secondary) !important;
    transition: text-decoration-color 0.3s;
}

section, nav {
    border-bottom: 1px solid rgb(56, 56, 56);
}

.fancy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fancy * {
    border: 1px solid #6eff30;
    color: #6eff30 !important;
    padding: 10px;
    background: #14200f;
}

.cta-button-primary, .cta-button-secondary {
    @apply decoration-0
    bg-secondary-400
    uppercase
    text-black
    hover:bg-primary
    mb-4
    py-4
    px-6
    text-lg
    font-semibold
    transition
    duration-300
    mr-4
    ease-in-out;
}

.cta-button-secondary {
    @apply
    bg-transparent
    border-2
    border-secondary-500
    hover:bg-transparent
    hover:border-primary
    hover:text-primary
    text-secondary-500;
}


.facility {
    @apply flex justify-center items-center flex-col;
}


.facility img {
    height: 250px;
    
    object-fit: cover;
    clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
}

.facility-grid {
    @apply grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2
}

.facility-grid h4 {
    @apply text-white m-0 text-center;
}

hr {
    @apply border-secondary-400;
}

#krc {
    width: 10px;
    height: 20px;
    background: white;
    position: absolute;
    z-index: 1000000;
}

#mobile-menu summary {
    display: block;
}