@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pink (Common styles) */
:root {
  --font-family: 'JetBrains Mono', monospace;  
  --primary: #fae127;
  --primary-hover: #f8e23e;
  --primary-focus: rgba(216, 213, 27, 0.125);
  --secondary: #2beded;
  --primary-inverse: #FFF;
}

.nav-img {
  height: 1rem;
  display: block;
}

.nav-with-img {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

a, .accented-text {
  text-decoration: underline !important;
  text-underline-offset: 8px;
  text-underline-position: above;
  text-decoration-color: var(--primary) !important;
  transition: text-decoration-color 0.3s;
}

a:hover, .accented-text:hover {
  text-decoration-color: var(--secondary) !important;
  transition: text-decoration-color 0.3s;
}

section, nav {
  border-bottom: 1px solid rgb(56, 56, 56);
}

.fancy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fancy * {
  border: 1px solid #6eff30;
  color: #6eff30 !important;
  padding: 10px;
  background: #14200f;
}