@page
@{
    Layout = "_Layout";
}

<div class="max-w-4xl mx-auto text-white p-6 rounded-md shadow-md">
  <h2 class="text-2xl font-semibold mb-4">Please fill in the event information:</h2>
  <form>
    <div class="mb-4">
      <label class="block mb-1" for="organizer-entity">Entity that's organizing the event *</label>
      <input type="text" id="organizer-entity" name="organizer-entity" required>
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="initiator-name">Full name of the initiator *</label>
      <input type="text" id="initiator-name" name="initiator-name" required>
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="email">E-mail</label>
      <input type="email" id="email" name="email">
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="phone">Phone number</label>
      <input type="tel" id="phone" name="phone">
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="company-name">Organization name (if it's organized by an organization) *</label>
      <input type="text" id="company-name" name="company-name" required>
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="event-type">Type of event *</label>
      <select id="event-type" name="event-type" required>
        <option value="">Please pick an event type</option>
        <option value="Conference">Conference</option>
        <option value="Workshop">Workshop</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="event-name">Name of the event *</label>
      <input type="text" id="event-name" name="event-name" required>
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="event-theme">Theme of the event *</label>
      <input type="text" id="event-theme" name="event-theme" required>
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="event-purpose">Purpose of the event *</label>
      <textarea id="event-purpose" name="event-purpose" rows="4" required></textarea>
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="event-date">Date of the event *</label>
      <input type="date" id="event-date" name="event-date" required>
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="event-start-time">Start time *</label>
      <input type="time" id="event-start-time" name="event-start-time" required>
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="event-end-time">End time *</label>
      <input type="time" id="event-end-time" name="event-end-time" required>
    </div>
    <div class="mb-4">
      <label class="block mb-1">Physical presence event *</label>
      <div class="flex items-center">
        <input class="mr-2" type="radio" id="physical-presence-yes" name="physical-presence" value="yes" required>
        <label for="physical-presence-yes">Yes</label>
      </div>
      <div class="flex items-center">
        <input class="mr-2" type="radio" id="physical-presence-no" name="physical-presence" value="no" required>
        <label for="physical-presence-no">No</label>
      </div>
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="event-agenda">Event agenda *</label>
      <textarea id="event-agenda" name="event-agenda" rows="4" required></textarea>
    </div>
    <div class="mb-4">
      <label class="block mb-1" for="expected-guests">Expected number of guests</label>
      <input type="number" id="expected-guests" name="expected-guests">
    </div>
    <div class="text-center">
      <button id="submit" class="cta-button-primary mt-8 w-full" type="submit">Submit</button>
    </div>
  </form>
</div>

<script>
  const submit = document.getElementById("submit");
  const form = document.querySelector('form');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const data = Object.fromEntries(formData);
    submit.setAttribute('disabled', true);
    submit.innerHTML = 'Submitting...';
    try {
      const res = await fetch('@(Constants.StrapiUrl)event-requests/submit', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      console.log('Success:', res);
      alert('Your request has been submitted successfully!');
    }
    catch (error) {
      console.error('Error:', error);
      alert('Something went wrong. Please try again later.');
    }
    finally {
      submit.removeAttribute('disabled');
      submit.innerHTML = 'Submit';
    }
  });
</script>