HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
PROJECTS_TOKEN=tobemodified
PROJECTS_ORG=base42
PROJECT_SYNC_SECRET=tobemodified

# Stripe
STRIPE_WEBHOOK_SECRET=tobemodified
STRIPE_MONTHLY_PRICE_ID=tobemodified
STRIPE_YEARLY_PRICE_ID=tobemodified
STRIPE_SUCCESS_URL=https://42.mk/membership/success
STRIPE_CANCEL_URL=https://42.mk/membership/cancel
STRIPE_RETURN_URL=https://42.mk/membership/manage
STRIPE_SECRET_KEY=tobemodified
STRIPE_PRICE_ID=tobemodified